html,
body{
   height: 100%;
}

.main{
   flex-grow: 1;
}

body {
   font-size: 20px;
   line-height: 40px;
   color: $default;
   @extend %montserrat-500;
   display: flex;
   flex-direction: column;
}

.container,
.top-container{
   max-width: 1430px;
   margin: 0 auto;
   padding: 0 15px;
}

.top-container{
   max-width: 1950px;
   position: relative;
}

.title{
   @extend %playfair-700;
   font-size: 70px;
   line-height: 84px;
   color: $title;
   padding-bottom: 55px;
   position: relative;
   &::after{
      content: "";
      position: absolute;
      width: 90px;
      height: 9px;
      background-image: url('../images/title-decor.svg');
      bottom: 0;  
      left: 0;
   }    
}

.bottom-line{
   border-bottom:1px solid #E3E3E3;
}

.breadcrumbs{
   max-width: 750px;
   min-height: 50px;
   position: relative;
   transform: rotate(-90deg);
   top: 340px;
   left:-38%;

   
   &__list{
      display: flex;      
   }
   &__item{
      color: #fff;
      font-size: 18px;
      padding-right: 50px;
      position: relative;
      &::after{
         content: "";
         position: absolute;
         width: 3px;
         height: 3px;
         right: 26px;
         top: 50%;
         transform: translateY(-50%);
         background: #fff;         
      }
      &:last-child{
         color: rgba(#fff, .4);
         padding-right: 0;
         &::after{
            display: none;
         }
      }      
   }
   &__link{
      display: inline-block;
      color: inherit;
      font: inherit;
   }
}

.pagination{
   display: flex;
   align-items: center;
   &__prev,
   &__next{
      display: inline-block;
   }
   &__list{
      display: flex;
      padding: 0 124px;
   }
   &__item{
      padding: 0 13px;
   }
   &__link{
      display: inline-block;
      font-size: 14px;
      line-height: 30px;
      color: inherit;
   }
   &__link--active{
      color: rgba($default, .5);
   }
}