@media (max-width: 1500px){
   .lang-switch{
      margin-right: 0;
   }
   .fishing{
      &__tabs{
         margin-right: auto;
      }
      &__tab-content {
         max-width: 800px;
      }
      &__slide-img{
         max-width: 250px;
      }
      .slick-next{
         right: 10px;
      }       
   }
   .price{
      &__text-box{
         margin-right: 130px;
      }
      &__items{
         column-gap: 30px;
      }
   }
   .boats{
      &__inner{
         column-gap: 90px;
      }
   }
   .footer{
      &__inner{
         flex-wrap: wrap;
      }
      &__map{
         width: 75%;
         margin-right: 0;
      }      
      &__item--address{
         order:1;
         max-width: 100%;
         margin-top: 30px;        
      }
   }
   .news{
      &__content{
         top:100px;
         display: block;
         column-gap: 0;
      }
      &__image{
         height: 100%;
      }
      &__content-item{
         width: 100%;
         display: flex;
         margin-bottom: 30px;
      }
      &__item-box{
         width: 100%;    
         min-height: 1px;
      }
      &__description{
         margin-bottom: 10px;
      }
   }      
   .blog{
      &__title{
         padding-right: 330px;
         &::after{
            width: 320px;
         }
      }
      &__content{
         margin-right: 70px;
      }
      &__item-box{
         padding: 40px 50px;
      }
      &__aside{
         max-width: 330px;
      }
   }
}

@media (max-width: 1200px){
   .logo{
      margin-right: auto;
      z-index: 2;
   }
   .menu{
      &__btn{
         display: block;
         z-index: 2;
         margin-left: 25px;
      }      
      &__list{        
         position: absolute;
         transform: translateY(-200%);
         top: 150px;
         width: 100%;
         left: 0;
         right: 0;
         margin-left: 0;
         background-color: #fff;
         flex-direction: column;
         align-items: center; 
         z-index: 1;
         transition: all .3s;
         &.menu__list--active{
           transform: translateY(0%); 
           transition: all .3s;
         }
      }
      &__item{
         width: 100%;
         padding: 0 10px;
         text-align: center;         
      }
      &__item + .menu__item {
         margin-left: 0;
      }      
      &__link{
         padding: 20px 0;
         display: block;
         border-bottom: 1px solid#E3E3E3;
      }
   }
   .lang-switch{
      margin-left:30px;
      z-index: 2;
   }
   .club{
      padding: 100px 0 120px;
   }
   .about{
      padding: 100px 0;
   }
   .deepsea{
      &__text-box{
         max-width: 100%;
         padding-right: 0;
      }
      &__image{
         display: none;
      }
   }
   .emirates{
      padding: 100px 0;
      &__inner{
         display: block;
      }
      &__title{
         max-width: 100%;
      }
      &__image{
         width: 80%;
         margin: 0 auto 40px        
      }
      &__text{
         max-width: 100%;
         margin-bottom: 40px;
      }
   }
   .fishing{
      padding: 100px 0;
      &__top-inner{
         display: block;
         margin-bottom: 70px;
      }
      &__text-box{
         width: 100%;
      }
      &__top-img{
         width: 80%;
         margin: 0 auto;
      }
      &__top-text{
         margin-bottom: 30px;
      }
      &__slide-img{
         max-width: 200px;
      }
      &__tab-content{
         max-width: 620px;
      }          
   }
   .price{
      padding: 100px 0;
      &__inner{
         display: block;
      }
      &__text-box{
         max-width: 100%;
         margin-right: 0;
         margin-bottom: 50px;
      }
      &__items{
         width: 100%;
      }
   }
   .boats{
      padding: 100px 0;
      &__inner{
         column-count: 1;
         column-gap: 0;
      }
      &__img {
         max-width: 80%;
         margin: 0 auto;
         height: auto;
         margin-top: 0;
      }
   }
   .footer{
      padding-bottom: 100px;
      &__map{
         width: 100%;
         margin-bottom: 30px;
      }
      &__item--address{
         width: 50%;
         margin-top: 0;
      }
      &__item--contacts{
         margin-left: 0;
         margin-right: auto;      
      }    
   } 
   .news{
      &__item-box{
         padding: 30px;
      }
   }  
   .blog{
      padding: 150px 0 120px;
      &__inner{
         flex-direction: column-reverse;
      }
      &__content{
         max-width: 100%;
         margin-right: 0;
      }
      &__image{
         max-width: 400px;
         height: 400px;
      }
      &__item-box{
         max-width: 100%;
      }
      &__aside{
         max-width: 100%;
      }
      &__aside-title{
         display: inline-block;         
         pointer-events: auto;
         position: relative;
         padding-right: 30px;
         &::before{
            content: "";
            position: absolute;
            background-image: url('../images/select.svg');
            width: 20px;
            height: 8px;
            right: 0;
            top:60%;
            transform: translateY(-50%);
         }
         &.active{
            &::before{               
               transform: rotate(180deg);
               top:30px;
            }            
         }
      }
      &__aside-list{
         display: none;
      }      
   }
}

@media (max-width: 1024px){
  .about{
      &__content{
         max-width: 100%;
      }
   }
}

@media (max-width: 992px){
   .club{
      padding: 70px 0;    
   }
  .about{
     padding: 70px 0;   
     &__content{
        margin-bottom: 50px;
     }
      &__team{
         flex-wrap:wrap;
         justify-content: center;
      }
      &__team-item{
         width: 47%;
         margin-bottom: 30px;
         column-gap: 30px;
      }
      &__team-img{
         width: 100%;
      }
   }
   .deepsea{
      padding: 70px 0;
   }
   .emirates{
      padding: 70px 0;
      &__image{
         width: 100%;
      }
   } 
   .fishing{
      padding: 70px 0;
      &__bottom-inner{
         display: block;
      }
       &__top-img{
         width: 100%;
      }
      &__tabs{
         width: 400px;
         margin-bottom: 50px;
         margin-right: 0;
      }
      &__btn{
         margin-top: 30px;
      }
      &__tab-content{
         max-width: 100%;
      }
      .slick-next {
         right: 0;
      }
      &__slider{
         text-align: center;
         width: 100%;
      } 
      &__slide-img{
         max-width: 98%;
      }
   }
   .price{
      padding: 70px 0;
      &__item{
         max-width: 170px;
      }
   }
   .boats{
      padding: 70px 0;
      &__img{
         max-width: 90%;
      }
   }
   .footer{
      padding: 70px 0;
   }
  .news{
     padding: 70px 0;
     &__content{
        top:50px;
     }
      &__content-item{
         width: 100%;
         display: block;
         min-height: 470px;         
      }
      &__image {
         max-width: 100%;
         width: 100%;        
         height: 240px;
      
      }
      &__item-box{
         display: block;
         width: 100%;
         padding: 30px;
      }
      .slick-dots{
         display: flex;
         justify-content: center;      
         li{
            padding: 0 10px;
            button{
               padding: 0;
               border: 1px solid #225189;
               width: 20px;
               height: 20px;
               border-radius: 50%;
               background-color:  #ffff;
               font-size: 0;
               outline: none;     
            }
         }
      }
      li.slick-active{
         button{
            border:1px solid #fff;
            background-color:#225189;
         }
      }
   }
   .blog{
      padding: 70px 0;
      &__title{
         padding-right: 0;
         &::after{
            display: none;
         }
      }
      &__aside-title{
         padding-right: 30px;
      }
      &__item-box{
         padding: 30px 40px;
      }
   }
}

@media (max-width: 768px){
   .logo{
      padding: 10px;
   }
   .menu{
      &__list{
         top: 100px;
         padding-top: 30px;
      }
   }
   .about{
      &__team-item{
         width: 100%;
      }            
   }
   .deepsea{
      &__text{
         margin-bottom: 25px;
      }
   }
   .emirates{
      &__title{
         font-size: 36px;
         line-height: 54px;
      }
      &__text{
         margin-bottom: 25px;
      }
   }
   .fishing{
      &__top-inner{
         margin-bottom: 40px;
      }
      &__item{
         font-size: 20px;
         margin-bottom: 15px;
      }
      &__text{
         margin-bottom: 25px;
      }
      &__btn {
         margin-top: 20px;
      }
      &__tabs{
         margin-bottom: 30px;
      }
       &__slider{
         padding-bottom: 0;
      } 
      .slick-dots{
         display: flex;
         justify-content: center;
         padding-top: 15px;
         li{
            padding: 0 5px;
            button{
               padding: 0;
               border: 1px solid #225189;
               width: 18px;
               height: 18px;
               border-radius: 50%;
               background-color:  #ffff;
               font-size: 0;
               outline: none;            
            }         
         }
      }
      li.slick-active{
         button{
            background-color:#225189;
         }
      }
   }
   .price{
      &__items{
         display: block;
         &::after{
            display: none;
         }
      }
      &__item{
         max-width: 100%;
         margin-bottom: 20px;
         border-top: 1px solid rgba(64, 67, 76, 0.2);
      }
      &__subtitle{
         margin-bottom: 10px; 
         line-height: 24px; 
         padding-top: 10px;       
      }
      &__list-item{
         margin-bottom: 15px;
         span{
            display: inline-block;
         }
      }
   }
   .boats{    
      &__text{
         margin-bottom: 25px;
      }
      &__img {
         max-width: 100%;        
      }
   } 
   .footer{
      &__item--address{
         width: 100%;
         order:0;
         margin-bottom: 30px;
      }
      &__address{
         margin-bottom: 25px;
      }
      &__social-list {
         margin-bottom: 30px;
      }
      &__item-title{
         margin-bottom: 20px;
      }
      &__item-title--email{
         margin-top: 25px;
      }
      &__item--contacts{
        max-width: 100%; 
      }    
   }

   .blog{
      &__filter-select{
         padding-top: 0;
         margin-bottom: 30px;
      }
      &__title{
         margin-bottom: 30px;
         font-size: 40px;
         line-height: 50px;
      }
       &__aside-title.active{
         &::before{
            top:25px;
         }
      }
      &__item{
         display: block;
         width: 100%;
         margin-bottom: 30px;
         &:last-child{
            margin-bottom: 35px;
         }
      }
      &__image{
         max-width: 100%;
         width: 100%;
         height: 240px;
      }
      &__item-box{
         padding: 25px;
      }
      &__subtitle{
         font-size: 28px;
         line-height: 32px;
      }
      &__text{
         margin-bottom: 30px;
      }
   } 
}

@media (max-width: 500px){
   .club{
      padding: 50px 0; 
      &__title{
         margin-bottom: 30px;
      }    
      &__text{
         font-size: 18px;
         line-height: 28px;
      }
   }
   .about{
      padding: 50px 0; 
      &__title{
         margin-bottom: 30px;
      }     
      &__text{
         font-size: 18px;
         line-height: 28px;
      }
      &__team-name {
         font-size: 18px;
         line-height: 28px;
      }
      &__team-link{
         padding: 20px 10px;
      }
   }
   .deepsea{
      padding: 50px 0;
      &__title{
         margin-bottom: 30px;
      } 
   }
   .emirates{
      padding: 50px 0;
      &__title{
         font-size: 28px;
         line-height: 42px;
         margin-bottom: 30px;
      }      
   }
   .fishing{
      padding: 50px 0;
      &__tabs {
         width: 100%;
      }     
      &__slide-img{
         max-width: 100%;
         height: 180px;
      }      
   }
   .price{
      padding: 50px 0;
      &__text-box{
         margin-bottom: 35px;
      }
   }
   .boats{
      padding: 50px 0;
   }
   .footer{
      padding: 50px 0;
   }
   .news{
      padding: 50px 0;
      min-height: 1px;
      &__content{
         top:0;
      }
      &__image{
         height: 200px;
      }
      &__item-box{
         padding: 20px;
      }
      &__subtitle{
         font-size: 30px;
         line-height: 36px;
      }
   }
   .blog{
      padding: 50px 0;
      &__title{
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 42px;
      }
      &__aside-title.active{
         &::before{
            top:20px;
         }
      }
      &__aside-item{
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 15px;
      }
      &__image{
         height: 180px;
      }
       &__subtitle{
         font-size: 24px;
         line-height: 28px;
         margin-bottom: 20px;
      }
      &__text{
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 20px;
      }
      &__link{
         &::after{
            top:-5px;
         }
      }
   }
}

