$default: #1F1F1F;
// $accent: #fe3e57;
// $title: #29282d;
// $bg:#f6f6f6;s

%montserrat-300{
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
}

%montserrat-500{
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
}

%montserrat-600{
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
}

%montserrat-700{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
}

%playfair-700{
   font-family: 'Playfair Display', serif;
   font-weight: 700;
}

%alice-400{
   font-family: 'Alice', serif;
   font-weight: 400;
}

// %btn{
//    padding:12px 26px;
//    background-color: $accent;
//    text-transform: uppercase;
//    color: #fff;
//    letter-spacing: 0.2em;
//    @extend %roboto-400;
//    box-shadow: 0px 10px 25px 0px rgba(253,61,87,0.3);
//    cursor: pointer;
// }

// %checkbox-hidden,
// %radio-hidden{
//    width: 1px;
//    height: 1px;
//    overflow: hidden;
//    position: absolute;
//    clip: rect(0 0 0 0);
// }

// @function max($numbers...) {
//    @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//    @return m#{i}n(#{$numbers});
// }
