@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
   &__inner{
      display: flex;
      align-items: center; 
   }   
}

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 28px;
   background-color:  $bg;
   margin-left: -15px;
}

.menu{   
   &__btn{
      width: 30px;
      height: 25px;
      border:none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      display: none;
      span{
         display: block;
         width: 100%;
         height: 3px;
         background-color: $bg;
      }
      &::after,
      &::before{
         content: '';
         width: 100%;
         height: 3px;
         position: absolute;
         background-color: $bg;
         left:0;
      }
      &::before{
         top:0;
      }
      &::after{
         bottom:0;
      }
   }

   &__list{
      display: flex;
      margin-left: 140px;
   }
   &__item + .menu__item {
      margin-left: 57px;
   }
   &__link{
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #40434C;
   }
}

.lang-switch{
   display: flex;
   min-width: 110px;
   margin-left: auto;
   margin-right: 130px;
   &__item{
      position: relative;
      padding-right: 36px;
      &:last-child{
         padding-right: 0;
      }    
      &::after{
         content: "";
         position: absolute;
         width: 3px;
         height: 3px;
         right: 18px;
         top: 50%;
         transform: translateY(-50%);
         background: #40434C;
      }
      &:last-child{
         &::after{
            display: none;
         }         
      }
   }
   &__link{
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: rgba(64, 67, 76, 0.5); 
   }
   &__link--active{
      color: #40434C;
   }
}

.club{
   padding: 178px 0 263px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   &__content{
      max-width: 510px;
   }
   &__title{
      color: #fff;
      margin-bottom: 40px;
      &::after{
         background-image: url(../images/title-decor-white.svg);
      }
   }
   &__text{
      max-width: 460px;
      margin-bottom: 40px;
      @extend %montserrat-300;
      font-size: 24px;
      color: #fff;
   }

   &__link{
      display: inline-block;
      @extend %btn;
   }
}

.about{
   padding: 110px 0 120px;
   &__content{
      max-width: 756px;
      margin-bottom: 100px;
   }
   &__title{
      margin-bottom: 40px;
   }
   &__text{
      font-size: 24px;
   }
   &__team{
      display: flex;
      justify-content: space-between;
      text-align: center;
      column-gap: 40px;
   }
   &__team-item{
      width: 440px;
      box-shadow: 0px 13px 27px rgba(0, 0, 0, 0.05);
      &:hover {
         .about__team-img{
            transition: all .3s;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
         }
      }
   }
   &__team-name{
      @extend %alice-400;
      font-size: 25px;
      line-height: 29px;
      color: #222222;
   }
   &__team-link{
      display: block;
      padding: 35px 10px;
      color: inherit;
      font: inherit;
   }
}

.deepsea{
   padding: 100px 0;
   &__content{
      display: flex;
      justify-content: space-between; 
   }

   &__text-box{
      max-width: 630px;
      padding-right: 30px;
   }
   &__title{
      margin-bottom: 40px;
   }
   &__text{
      margin-bottom: 40px;
      &:last-child{
         margin-bottom: 0;
      }
   }
   &__image{
      align-self: start;    
   }   
}

.emirates{
   padding: 110px 0 150px;
   background-color: #EFF6F9;
   &__inner{
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
   }
   &__title{
      max-width: 640px;
      font-size: 40px;
      line-height: 56px;
      margin-bottom: 40px;
   }
   &__image{
      margin-bottom: 30px;
   }
   &__text {
      max-width: 640px;
      margin-bottom: 50px;
      &:last-child{
         font-style: italic;
         margin-bottom: 0;
         color: #225189;
      }
   }
}

.fishing{
   padding: 106px 0 85px;
   &__top-inner{
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      margin-bottom: 100px;
   }
   &__text-box{
      width: 600px;      
   }
   &__title{
      margin-bottom: 40px;
   }
   &__bottom-inner{
      display: flex;
   }
   &__tabs{
      width: 320px;
      margin-right: 130px;
   }
   &__item{
      @extend %playfair-700;
      font-size: 25px;
      line-height: 35px;
      color:$title;
      margin-bottom: 25px;
   }
   &__link{
      display: block;
      color: inherit;
      font: inherit;
   }
   &__link--active{
      display: block;
      position: relative;
      color: #225189;
      padding-right: 70px;
      &::after{         
         content: "";
         position: absolute;
         background-image: url('../images/fish.svg');
         top:-2px;
         right: 0;
         width: 53px;
         height: 45px;
      }
   }
   &__btn{
      display: inline-block;
      @extend %btn;
      color: #225189;
      border-color: #225189;
      margin-top: 50px;
   }
   &__tab-content{
      max-width: 960px;
   }
   &__content-item{
      display: none;
      &.fishing__content-item--active{
         display: block;
      }
   }
   &__text{
      margin-bottom: 40px;
   }
   &__slider{
      padding-bottom: 50px;
   }
   &__slide-img{
      max-width: 200px;
      height: 140px;
      object-fit: cover;
   }
   .slick-prev,
   .slick-next{
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 201px;
      height: 16px;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .slick-prev{
      left:0;
   }
   .slick-next{
      right: 40px;
   }
   
   .slick-disabled{
      path{
         fill: rgba(#225189, .5);
      } 
   }
}

.price{
   padding: 90px 0 110px;
   background-color:#EFF6F9;
   &__inner{
      display: flex;
      align-items: center;
   }
   &__title{
      margin-bottom: 40px;
   }
   &__text-box{
      max-width: 286px;
      margin-right: 154px;
   }
   &__items{
      width: 960px;      
      display: flex;
      justify-content: space-between;
      position: relative;
      &::after{
         content: "";
         position: absolute;
         width: 100%;
         height: 1px;
         background-color: rgba(64, 67, 76, 0.2);
         top: 100px;
         left: 0;
         right: 0;
      }
   }
   &__item{
      max-width: 195px;
      span {
         display: block
      }   
   }
   &__subtitle{
      @extend %montserrat-500;
      font-size: 20px;
      line-height: 22px;
      color: #225189;
      min-height: 44px;
      margin-bottom: 100px;
   }
   &__list-item{
      margin-bottom: 40px;
      line-height: 22px;
      &:last-child{
         margin-bottom: 0;
      }
   }
}

.boats{
   padding: 120px 0 140px;
   &__inner{
      column-count: 2;
      column-gap: 120px;
   }
   &__title{
      margin-bottom: 40px;
   }
   &__text{
      margin-bottom: 40px;
      span{
         @extend %montserrat-700;
      }
      &:nth-child(2){
         font-style: italic;
         font-size:22px;
         color: #225189;
      }
   }
   &__img{
      max-width: 640px;
      width: 100%;
      height: 340px;
      margin-top: 100px;
   }
}

.footer{
   padding: 80px 0 170px;
   background-color: $bg;
   position: relative;
   &__title{
      color: #fff;
      margin-bottom: 40px;
      &::after{
         background-image: url(../images/title-decor-white.svg);
      }
   }
   &__inner {
      display: flex;
   }
    &__map{
      width: 640px;
      margin-right: 120px;
   }
   &__item-title{
      @extend %playfair-700;
      font-size: 25px;
      line-height: 35px;
      color: #FFFFFF;
      margin-bottom: 30px;
      text-transform: capitalize;
   }
   &__item-title--email{
      margin-top: 50px;
   }
   &__item--address{
      max-width: 350px;
   }
   &__address{
      color: #fff;     
      margin-bottom: 50px;
   }
   &__social-list{
      display: flex;
      align-items: center;
      margin-bottom: 55px;
   }
   &__social-item + .footer__social-item{
      margin-left: 8px;      
   }
   &__social-link{
      display: inline-block;
      transition: all, .3s;
      &:hover{
         path{
            fill-opacity:1;
         }
      }
   }
   &__btn{
      display: inline-block;
      @extend %btn;
   }
   &__item--contacts{
      max-width: 250px;
      margin-left: auto;
   }
   &__tel,
   &__email{
      display: block;
      color: #fff;
   }     
}

//-------start  blog page-------------

.news{
   padding-top: 120px;
   min-height: 930px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center;
   &__title{
      color: #fff;
      margin-bottom: 40px;
      &::after{
         background-image: url(../images/title-decor-white.svg);
      }
   }
   &__content{
      display: flex;
      justify-content: space-between;
      column-gap: 40px;
      position: relative;
      top: 160px;
   }
   &__content-item{
      width: 440px;
      background-color: #fff;
      box-shadow: 0px 13px 27px rgba(0, 0, 0, 0.05);
   }
   &__img-link{
      display: block;
   }
   &__image{
      max-width:440px;
      height: 240px; 
      object-fit: cover;
   }
   &__item-box{
      padding: 45px 48px 30px 48px;
      display: flex;
      flex-direction: column;
      min-height: 340px;
   }
   &__subtitle{
      @extend %alice-400;
      font-family: Alice;
      font-size: 36px;
      line-height: 41px;
      color: #222222;
      margin-bottom: 20px;
   }
   &__title-link{
      display: block;
      color: inherit;
      font: inherit;      
   }
   &__description{
      font-size: 18px;
      line-height: 30px;
   }
   &__link{
      display: block;
      @extend %alice-400;
      letter-spacing: 0.0207143em;
      color: #40434C;
      padding-right: 95px;
      margin-top: auto;
      position: relative;
      &::after{
         content: "";
         position: absolute;
         background-image: url('../images/linkarrow.svg');
         width:86px;
         height:40px;
         top:0;
         right:0;
      }
   }
}

.blog{
   padding: 240px 0 120px;
   &__inner{
      display: flex;
   }
   &__content{
      max-width: 960px;
      margin-right: 90px;
   }
   &__aside{
      max-width: 350px;
   }
   &__title{
      @extend %alice-400;
      font-size: 50px;
      line-height: 57px;
      color: #222222;
      margin-bottom: 70px;
      padding-right: 435px;
      position: relative;
      &::after{
         content: "";
         position: absolute;
         width: 430px;
         height: 1px;
         background-color:rgba(#40434C, .5);
         right: 0;
         bottom: 15px;
      }
   }
   &__item {
      display: flex;
      background-color: #fff;   
      border: 1px solid #F4F4F4;
      box-shadow: 0px 13px 27px rgba(0, 0, 0, 0.05);
      margin-bottom: 40px;
      &:last-child{
         margin-bottom: 70px;
      }
   }
   &__image{
      max-width:440px;
      height: 440px; 
      object-fit: cover;
   }
   &__item-box{
      max-width: 520px;
      padding: 50px 80px 40px 89px;
   }
   &__subtitle{
      @extend %alice-400;
      font-family: Alice;
      font-size: 30px;
      line-height: 34px;
      color: #222222;
      margin-bottom: 30px;
   }
    &__title-link{
      display: block;
      color: inherit;
      font: inherit;      
   }
   &__text{
      font-size: 18px;
      line-height: 30px;
      color: #40434C;
      margin-bottom: 50px;
   }
   &__link{
      display: inline-block;
      @extend %alice-400;
      padding-right: 100px;
      letter-spacing: 0.0207143em;
      color: #40434C;
      position: relative;
      &::after{
         content: "";
         position: absolute;
         background-image: url('../images/linkarrow.svg');
         width:86px;
         height:40px;
         top:0;
         right:0;         
      }
   }
   &__filter-select{
      padding-top: 18px;
      margin-bottom: 53px;
   }
   &__filter-form{     
      span{
         display: inline-block;
         margin-right: 25px;       
         color: rgba(#40434C, .5);
      }
   }
   &__filter-sort{
      border:none;
      outline: none;
      padding-right: 28px;
      appearance: none;
      background-image: url('../images/select.svg');
      background-repeat: no-repeat;
      background-position: center right;
      option{
         display: block;
         font-size: 18px;
         line-height: 30px;
         color: #40434C;
         appearance: none;
      }
   }
   &__aside-title{
      margin-bottom: 50px;
      padding-right: 0;
      pointer-events: none;
      &:after{
         display: none;
      }
   }
   &__aside-item {
      font-size: 18px;
      line-height: 30px;
      color: #40434C;
      margin-bottom: 20px;
   }
   &__aside-link{
      display: block;
      color: inherit;
      font:inherit;
      position: relative;
      transition: all, .3s;
      &:hover{
         padding-left: 32px;
         &::before{
            content: "";
            position: absolute;
            width: 14px;
            height: 4px;
            background-image: url('../images/linkdecor.svg');
            top: 14px;
            left:0;
         }
      }
   }
}

@import 'media';
